body{
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color:antiquewhite;
    
}
html{
    scroll-behavior: smooth;}
img{
    width: 300;
    height: 300;
    border-radius: 50%;
}
#welcome{
    padding: 25px;
}